* {
    padding: 0;
    margin: 0;
}
#navbar-menu{
    justify-content: flex-end;
}
a{
    color: black !important;
}
#plogpost{
    background-color: #87CEEB !important;
}
#plogpost{
    background-color: #87CEEB !important;
}

